.box {
    width: 50%;
    margin-left:25%;
}

.title {
    text-align: center;
}

.button {
    margin-left:40%;
    margin-top: 1%;
}

#cancel {
    margin-left:1.5%;
}

#move {
    margin-top: 15%;
    height:100%;
}

.section {
    padding : 0.8rem 0.2rem;
}